# Carpetas
temp/

# Python
__pycache__/
*.py[cod]
*.sqlite3

# Entornos virtuales
venv/
.env/

# Configuración de sistema operativo
.DS_Store
Thumbs.db

# Archivos de log
*.log

# Configuración de VS Code
.vscode/

# Archivos temp
audiovs.wav
OG_main.py
TODO.txt
test.py
beatmap_generator.py
beatmap.json
